@use "../../styles/variables" as *;

.gallery {
    padding: 20px;
    background-color: $white-f;

    form {
        @include grid(1fr 1fr 1fr, 10px);
        margin-top: 10px;

        input {
            @include hideInput;
        }
    }

    img {
        border: 1px solid $black;
        border-radius: 20px;
    }
}

.heroImg {
    height: 400px;
}